#home .page-home {
  max-width: 100vw;
  display: grid;
  align-items: end;


  .text-cont {
    width: fit-content;
    margin-bottom: 150px;
    margin-left: 10px;

    .heading-cont {

      h1 {
        font-family: 'Kapiler';
        font-family: 'Nebula', sans-serif;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 2.6rem;
        margin: 0;
        color: #ffffff;
      }

    }

    .subhead-cont {
      display: grid;

      .mask {
        /* line-height: 2.2rem; */
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

        h4 {
          font-family: 'Radenes', sans-serif;
          font-weight: 500;
          font-size: 1.2rem;
          /* font-weight: 100; */
          margin: 0;
          letter-spacing: .09rem;
          color: #d8d8d8;
        }

        .primary {
          position: relative;
        }

        .secondary,
        .fourth,
        .teritiary {
          position: absolute;
        }

      }
    }

  }


}


#home .slide-wrapper {
    width: 100%;
    max-width: 100vw;
    overflow: hidden; /* Clips GSAP track overflow from native scrollbar */
    position: relative;
    touch-action: pan-y;
  .slider-hom {
      display: grid;
      grid-template-rows: 99% 1%;
    .slide-hom {
      display: flex;

      .slide {
        width: 100vw;
      }

      .slide.abt.a1,
      .slide.abt.a2 {
        display: grid;
        grid-template-columns: 60% 30%;
        padding: 60px 0;

        p {
          font-family: 'NeverMind Bauhaus', sans-serif;
          /* font-family: 'Enotria', sans-serif; */
          font-weight: 300;
          font-size: .9rem;
          /* letter-spacing: .1rem; */
        }
      }

      .slide.abt.a1 {
        grid-template-columns: 30% 60%;

        .detail-cont {
          max-width: 90%;
          justify-self: end;
        }
      }

      .slide.abt.a2 {
        align-items: end;

        .detail-cont {
          max-width: 90%;
          justify-self: end;
        }
      }

      .slide.tech {
        padding: 60px 0;
        display: grid;
        grid-template-columns: 40% 40%;
        gap: 15%;

        .title-cont {
          margin-top: 150px;

          h2 {
            font-size: 3.3rem;
            font-family: 'Nebula', sans-serif;
            font-weight: 100;
            margin-bottom: 10px;
          }

          .sub-h-cont {
            max-width: 75%;

            p {
              font-weight: 300;
            }
          }
        }


        .icon-cont {
          display: flex;
          flex-wrap: wrap;
          flex-shrink: 4;
          justify-content: center;
          align-items: center;
          gap: 20px;
          width: 100%;
          height: 100%;

          .tech-i {
            width: 80px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .svg-cont {
              width: 40px;
              height: 40px;

              svg {
                width: 100%;
                height: 100%;
              }
            }

            .icon-name {
              font-size: .8rem;
              font-weight: 400;
            }
          }
        }

      }
    }
    .slider-line {
      background-color: rgb(255, 255, 255);
      height: 2px;
      width: calc(100% - 75px);
      transform: scaleX(0);
      transform-origin: left;
      margin: 0 25px;
    }
  }
}



@media screen and (max-width: 440px) {
  #home .page-home {
    .text-cont {
      margin-bottom: 200px;

      .heading-cont {

        h1 {
          font-size: 1.8rem;
          font-weight: 700;
        }

      }

      .subhead-cont {

        .mask {
          h4 {
            font-weight: 500;
            font-size: 1.3rem;
          }
        }
      }

    }
  }

  #home .slide-wrapper{
  .slider-hom {
    .slide-hom {

      .slide.abt.a1,
      .slide.abt.a2 {
        display: grid;
        grid-template-columns: 10% 85%;
        padding: 50px 0;
        justify-content: end;

        .detail-cont{
          max-width: 97%;
        }

        p {
          font-weight: 400;
          font-size: .84rem;
          /* letter-spacing: .1rem; */
        }
      }
      .slide.abt.a1{
      }

      .slide.abt.a2 {
        display: grid;
        grid-template-columns: 85% 10%;
        justify-content: start;
      }

      .slide.tech {
        padding: 80px 0;
        grid-template-columns: 100%;
        grid-template-rows: 20% 60%;;
        gap: 0;
        align-items: start;
        padding-left: 5px;
        .title-cont {
          margin-top: 0;

          h2 {
            font-size: 2.4rem;
            font-weight: 900;

          }

          .sub-h-cont {
            max-width: 80%;

            p {
              font-weight: 400;
              font-size: .9rem;
            }
          }
        }

        .icon-cont {
          justify-content: left;
          padding-right: 5px;
          gap: 15px;

          .tech-i {
            width: 40px;
            height: 50px;
            display: flex;
            align-items:stretch;
            justify-content: center;
            flex-direction: column;

            .svg-cont {
              width: 40px;
              height: 40px;

              svg {
                width: 100%;
                height: 100%;
              }
            }

            .icon-name {
              font-size: .54rem;
              font-weight: 700;
            }
          }

        }


      }

    }
    }
  }
}