#labs {

    .intro-header {
        max-width: 100%;
        text-align: right;
        display: grid;
        align-items: center;
        justify-content: end;

        * {
            padding-right: 10px;
        }

        .title-cont {
            width: fit-content;
            text-align: left;
        }

        /* h1{
          text-align: end;
          padding-top: 60vh;
        }
        p{
            text-align: end;
        } */
    }

}

#labs {
    .slider.slider-lab {
        .wo-am {
            .wo-spacer {
                svg {
                    width: 180px;
                }
            }
        }

        .slider-cont {


            .side-m {

                .s-vis {


                    .s-icon {

                        .icon-cont {
                            svg {
                                width: 30px;
                            }
                        }

                    }
                }



                .s-disc {
                    .s-line {

                    }

                    .s-det {

                        .s-index {
                            p {

                            }
                        }

                        .s-name {

                            h2 {
                            }
                        }
                    }
                }
            }
        }

    }
}

@media screen and (max-width: 440px) {
    #labs {
        .slider.slider-lab {
            .slider-cont {
                .side-m {
                    .s-vis {
                        position: relative;

                        .s-icon {

                            .icon-cont {
                                svg {
                                    width: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }

    }

}