
#labs{

    .intro-header{
        /* text-align:end; */
        max-width: 100vw;
        text-align: right;
        display: grid;
        align-items: center;
        justify-content: end;

        *{
            padding-right: 10px;
        }

        .title-cont{
            width: fit-content;
            text-align: left;
        }
        /* h1{
          text-align: end;
          padding-top: 60vh;
        }
        p{
            text-align: end;
        } */
    }

}