#models{

    .intro-header{
        display: grid;
        align-items: center;
        .title-cont{
            width: fit-content;
        }

    }
}


#models{
    .slider.slider-mod{
        .wo-am{
            /* overflow: hidden; */
            /*.wo-spacer{
                svg{
                    width: 280px;
                    height: 27px;
                }    
            } */
  
        }

        .slider-cont{
            .empty{
                height: 40px;
                display: block;
            }
            .side-m{
                padding: 30px;
                padding-top: 20px;
                /* width: 80%; */
                .s-image{
                    img{
                        width: 100%;
                        object-fit: contain;
                        box-sizing: border-box;
                    }
                }
                .s-disc{
                    .s-line{
                        width: 100%;
                        height: .7px;
                        background-color: #ffffff;
                    }
                    .s-det{
                        display: grid;
                        grid-template-columns: 20% 80%;

                        .s-index{
                            color: #fff;
                            /* text-align:; */
                            display: grid;
                            align-items: end;
                            justify-content: start;
                            p{
                                font-size: 1.5rem;
                            }
                        }
                        .s-name{
                            text-align: right;
                            h2{
                                font-family: 'Radenes', sans-serif;
                                font-weight: 100;
                                text-transform: capitalize;
                                letter-spacing: .08rem;
                            }

                        }
                    }
                }
            }
        }
        
    }
}