#project{

  .intro-header{
    margin: 0 10px;
    /* padding-top: 30vh; */
    /* height: 80vh; */

    h1{
      padding-top: 30vh;
    }
  }

}

#project {
  .slider-proj {

    .wo-info {
      width: 100%;
      position: relative;

      .wo-line {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
      }

      .wo-am {
        position: absolute;
        top: 60px;
        left: 92vw;
        text-align: justify;
        z-index: -1;

        h3 {
          font-size: 4rem;
          margin: 0;
        }
      }
    }

    .sliders {
      .slider-cont {
        display: grid;
        align-items: safe;
        grid-template-rows: 20% 55% 25%;
        /* grid-template-columns: 100%; */

        .s-empty {
          height: auto;
        }

        .s-title {
          display: grid;
          grid-template-columns: 50% 50%;

          .frac-cont {
            padding: 0 70px;
            padding-top: 20px;
            padding-left: 0;
            h2 {
              text-align: right;
              font-size: 2.5rem;
              margin-bottom: 0;
            }

            .title-line {
              background-color: #ffffff;
              width: 100%;
              height: 3px;
            }
          }

        }

        .cont-frac {
          display: grid;
          justify-content: center;
          align-items: center;
          grid-template-columns: 60% 40%;
          padding: 0 70px;
          /* padding-left: 40px; */

          .s-video {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: end;
            max-height: 100%;
            /* aspect-ratio: 16 / 9; */
            margin: 0;

            video {
              width: 90%;
              height: auto;
            }

          }

          .s-desc {
            display: grid;
            grid-template-rows: .5fr .5fr;
            align-items: center;
            justify-content: start;

            .icons {
              display: flex;
              flex-wrap: wrap;
              gap: 10px;

              .icon {
                width: 40px;
                height: 40px;
              }
            }

          }
        }


      }

    }

  }
}