 @import url('https://fonts.cdnfonts.com/css/rogan');

@font-face {
  font-family: 'Kapiler'; 
  src: url('/fonts/kapiler.regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Nebula'; 
  src: url('/fonts/next_sphere/Next Sphere Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



body{
  margin: 0;
  padding: 0;
  border: 0;
  /* overflow: hidden; */
  background-color: #202020;
  overflow-x: hidden;
  /* zoom: .5; */
}

canvas{
  margin: 0;
  border: 0;
  padding: 0;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 2;
  outline: none;
  background-color: transparent;
  /* pointer-events: none; */
}
h1, h2, h3, h4, h5, h6, p{
  color: #ffffffea;
  margin: 0;
}


/* lading configurations */
.loading-bar{
  position: absolute;
  z-index: 3;
  top: 60%;
  left: 35%;
  /* width: 10px; */
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: top center;
  transition: transform 1s;
  will-change: transform;
  padding: 0 15%;
}
.loading-bar.enabled{
  transform: scaleX(0);
  transform-origin: top center;
  transition: transform 3.5s ease-in-out;
}

.loading-text{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 3;
  will-change: transform;
}

.loading-text h1, .loading-text p{
  display: inline;
  font-size: 2rem;
}


.section-container-div{
   /* visibility: hidden; */
   position: absolute;
   /* max-height: 0; */
   /* max-width: 0; */
   z-index: 3;   
   border: 0;
   margin: 0;
   padding: 0;
}

/*sections */
/* .page{
  min-width: 100vh;
} */
.page h1{
  font-family: 'Smooch Sans', sans-serif; 
  font-size: 3rem;
  color: #ffffffa9;    
}
.page p{
  font-family: 'Jura', sans-serif;
}

section{
  margin: 0;
  padding: 0;
  border: 0;
  width: fit-content;
}



/*************************************** Home section *******************************/

.sec{
  min-height: 100vh;
}


/*************************************** proj & labs & models *******************************/
.intro-header{
 max-height: 100vh;
 height: 100vh;

 h1{
  font-family: 'Nebula', sans-serif;
  font-weight: 100;
  font-size: 5rem;
  color: #ffffff;
 }
  
}

.slider{
  .sliders{
    height: 100vh;
    display: flex;

      .slider-cont{
        width: 100vw;
      }
  }

}
