@font-face {
  font-family: 'Kapiler'; 
  src: url('/fonts/kapiler.regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body{
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  background-color: #202020;
}

canvas{
  margin: 0;
  border: 0;
  padding: 0;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 2;
  outline: none;
  background-color: transparent;
  /* pointer-events: none; */
}
h1, h2, h3, h4, h5, h6, p{
  font-family: 'Tracer', sans-serif;
  color: #ffffffea;
}


/* lading configurations */
.loading-bar{
  position: absolute;
  z-index: 3;
  top: 60%;
  left: 35%;
  /* width: 10px; */
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: top center;
  transition: transform 1s;
  will-change: transform;
  padding: 0 15%;
}
.loading-bar.enabled{
  transform: scaleX(0);
  transform-origin: top center;
  transition: transform 3.5s ease-in-out;
}

.loading-text{
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  z-index: 3;
  will-change: transform;
}

.loading-text h1, .loading-text p{
  display: inline;
  font-size: 2rem;
}
.navigaton-bar{
  position: fixed;
  top: 54%;
  left: 3.7%;
  transform: translate(-50%, -50%) scaleY(0);
  height: 60vh;
  width: 2.6px;
  z-index: 4;
  background-color: #ffffff;
  opacity: 0;
}
.navigatior{
  position: absolute;
  top: 40%;
  left: 3.7%;
  display: grid;
  grid-template-columns: 15% 50%;
  align-items: center;
  gap: 4px;
}
.nav-indicate{
  background-color: #ffffff;
  width: 100%;
  height: 2px;
  border: 0;
  opacity: .2;
}
.navigatior ul{
  padding: 0;
  margin: 0;

}
.navigatior li{
  font-family: 'Jura', sans-serif;  
  line-height: 2rem;
  font-weight: 100;
  list-style-type: none;
  color: #95c2ec;
  opacity: .3;

}
/* .loading-text h1{

} */
.section-container-div{
   visibility: hidden;
   /* position: absolute; */
   max-height: 0;
   max-width: 0;
   z-index: 2;
   overflow: hidden; 
}

/*sections */
/* .page{
  min-width: 100vh;
} */
.page h1{
  font-family: 'Smooch Sans', sans-serif; 
  font-size: 3rem;
  color: #ffffffa9;    
}
.page p{
  font-family: 'Jura', sans-serif;
}

section{
  height: 100vh;
  min-height:fit-content;
}

/***************************************heading section *******************************/
section#heading{
  margin-top: 15vh;
  /* padding-left: 50px; */
  /* padding: 0 10vw; */
  max-height: 100vh;
}
.mask{
  /* height: 40px; */
  line-height: 2.2rem;
  overflow: hidden;
}
#heading h1{
  font-family: 'Kapiler';        
  text-transform:uppercase ;
  font-size: clamp(5.5rem, 12vw, 20rem);                                                                             
  font-size: 6rem;
  transform: scaleY(1.35) scaleX(1.35);
  letter-spacing: .1rem;
  margin: 0;
  color: #ffffff;    
  padding: 0;
  text-align: center;                                                                         
}
#heading h4{
  font-family: 'Jura', sans-serif;                                                                                                                    
  font-size: 1.3rem;
  font-weight: 200;
  /* max-width: 30%; */
  margin: 0;
  text-align: right;
  padding-right: 12vw;
  letter-spacing: .09rem;
  color: #d8d8d8;
                                              
}

/*************************************** project section *******************************/


/***************************************tech stack *******************************/
#page2{
  width: 50%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.techStack-container{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

}
.icons-container {
  display: grid;
  justify-content: center;
  text-align: center;
}
.icons-container svg{
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
}
/*************************************** labs *******************************/
#page3 h1{
  margin-bottom: 0;
}



/*************************************** about me *******************************/

#page4{
  max-width: 50%;
}

/********************************** contacts ******************/
#page5 hr{
  border-style:outset;
  border-color: #fff;  
  border-radius: 12px;
  border-width: .3px;
  border-bottom: 0;
}
#page5 h4{
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  font-size: 1.1rem;

}
.contact-container{
  max-width: 100%;
  display: flex;
  gap: 20px;
}
.contact-container button{
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
.contact-icons svg{
  width: 50px;
}
.contact-icons.last{
  display: inline;
  padding: 0;
  margin: 0;

}

.contact-icons.last p{
  float: right;
  /* padding-top: 10%; */
  font-size: 1rem;
  font-weight: 800;
}

/*************************************** footer *******************************/

.footer {
  color: white;
  padding: 1.5rem 0;
  padding-bottom: 2px; /* equivalent to py-6 */
  text-align: center;
  font-size: 0.875rem; /* equivalent to text-sm */
}
#page6{
	height: auto;
}



/*************************************** responsive *******************************/
@media (810px > width) {
  #heading h1{
    font-size: clamp(1rem, 5vw, 9rem);
    transform: scaleY(2.1) scaleX(2.1);
    letter-spacing: clamp(0.01rem, 0.2vw, .5rem);
  }
  #heading h4{
    font-size: clamp(.2rem, 2vw, 1.5rem);
    letter-spacing: clamp(0.02rem, 0.15vw, .8rem);
  }
     
}


@media (width < 412px ){
  .loading-text h1, .loading-text p{
    font-size: 1.2rem;
  }


  #heading h4{
     padding-right: 1vw;
                                              
  }
  #page2{
    width: 60%;
  }
  .icons-container p{
    font-size: .9rem;
  }
  .icons-container svg{
    width: 30px;
    height: 30px;
  }
  #page3 p{
    margin: 0; 

  }

  #page4{
    max-width: 100%;
  }
  .contact-icons svg{
    width: 40px;
  }

  #page5 h4{
    font-family: 'Jura', sans-serif;
    font-weight: 800;
    font-size: .8rem;
    overflow: hidden;
  }
  .contact-container{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    max-width: 100%;
  }

  .contact-icons.last p{
    font-size: .9rem;
  }
}